.jumping-dots span {
  position: relative;
  bottom: 0px;
  -webkit-animation: jump 1500ms infinite;
  animation: jump 2s infinite;
}
.jumping-dots .dot-1{
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.jumping-dots .dot-2{
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.jumping-dots .dot-3{
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

@-webkit-keyframes jump {
  0%   {bottom: 0px;}
  20%  {bottom: 5px;}
  40%  {bottom: 0px;}
}

@keyframes jump {
  0%   {bottom: 0px;}
  20%  {bottom: 5px;}
  40%  {bottom: 0px;}
}
